# Ignore everything
/*

# Except git root files
!.git*

# zsh Config
!/.zshrc

# Enable config files...
!/.config

# ... that are explicitly allowed
/.config/*

# neovim Config
!.config/nvim

# kitty Config
!.config/kitty

# nix Config
!.config/nix
!.config/nix/flake.nix
.config/nix/flake.lock


## No bak files
**/*.bak

## No lock files
lazy-lock.json
