# Ignore everything
/*

# Except git root files
!.git*

# zsh Config
!/.zshrc

# Enable config files...
!/.config

# ... that are explicitly allowed
/.config/*

# neovim Config
!.config/nvim

# kitty Config
!.config/kitty

## No bak files
*.bak
